@mixin boxShadow($property...) {
    -webkit-box-shadow: $property; // Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ 
    -moz-box-shadow: $property; // Firefox 3.5 - 3.6 
    box-shadow: $property;
}

@mixin transform($property...) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($property...) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin svgIcon() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

// input placeholder
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

@mixin page-title {
    font-size: 18px;
    color: $color-grey-31;
    font-weight: 700;
    margin-bottom: 20px;
}

@mixin page-subtitle {
    background: $color-white;
    .subtitle-container {
        padding: 16px;
        display: flex;
        align-items: center;
        svg {
            width: 21px;
            height: 21px;
            color: $color-grey-31;
            margin-#{$end-direction}: 18px;
        }
        .subtitle-text {
            font-size: 18px;
            font-weight: 400;
            color: $color-black-6;
            span {
                color: $color-red;
                margin-#{$start-direction}: 4px;
            }
        }
        @include media-breakpoint-md {
            padding: 16px;
        }
        &.has-border {
            border-bottom: 2px solid $color-grey-10;
        }
    }
}