//COLORS
$color-white: #FFFFFF;
$color-white-1: #FCFCFC;
$color-bg: #F8F8F8;
$color-black-default: #000000;
$color-black-1: #1E1E1E;
$color-black-2: #0D0D0D;
$color-black-3: #0000000D;
$color-black-4: #1F1F1F;
$color-black-5: #242424;
$color-black-6: #2E2C34;
$color-black-7: #393939;
$color-black-8: #2B2B2B;
$color-black-9: #4A4A4A;
$color-black-10: #484848;
$color-black-11: #2E2E2E;
$color-grey-1: #616161;
$color-grey-2: #666666;
$color-grey-3: #6B6B6B;
$color-grey-4: #8B8B8B;
$color-grey-5: #B4B4B4;
$color-grey-6: #C9C9C9;
$color-grey-7: #5F5F5F;
$color-grey-8: #ECECEC;
$color-grey-9: #BFBFBF;
$color-grey-10: #EBEAED;
$color-grey-11: #6C6C6C;
$color-grey-12: #6A6A6A;
$color-grey-13: #848484;
$color-grey-14: #424242;
$color-grey-15: #CBCBCB;
$color-grey-16: #494949;
$color-grey-17: #A6A6A6;
$color-grey-18: #7E7E7E;
$color-grey-19: #E3E3E3;
$color-grey-20: #D3D3D3;
$color-grey-21: #7A7A7A;
$color-grey-22: #B7B7B7;
$color-grey-23: #2F2F2F;
$color-grey-24: #D9D9D9;
$color-grey-25: #818181;
$color-grey-26: #E0E0E0;
$color-grey-27: #575757;
$color-grey-28: #676767;
$color-grey-29: #C0C0C0;
$color-grey-30: #C1C1C1;
$color-grey-31: #84818A;
$color-grey-32: #DEDEDE;
$color-grey-33: #565656;
$color-grey-34: #C4C4C4;
$color-grey-35: #DDDDDD;
$color-grey-36: #DCDCDC;
$color-grey-37: #888888;
$color-grey-38: #949494;
$color-grey-39: #979797;
$color-grey-40: #EEEEEE;
$color-grey-41: #4F4F4F;
$color-grey-42: #B0B0B0;
$color-grey-43: #5C5C5C;
$color-grey-44: #D0D0D0;
$color-grey-45: #ABABAB;
$color-grey-46: #8C8C8C;
$color-grey-47: #F2F2F2;
$color-grey-48: #F1F1F1;
$color-grey-49: #444444;
$color-grey-50: #585858;
$color-grey-51: #D6D6D6;
$color-grey-52: #C2C2C2;
$color-grey-53: #9F9F9F;
$color-grey-54: #F0F2F5;
$color-grey-55: #646464;
$color-grey-56: #D8D8D8;
$color-grey-57: #E9E9E9;
$color-grey-58: #909090;
$color-grey-59: #6D6D6D;
$color-grey-60: #EAEAEA;
$color-grey-61: #F5F5F5;
$color-red: #ED202E;
$color-red-2: #FC3400;
$color-red-3: #DF222F;
$color-green: #39A927;
$color-green-2: #68AC62;
$color-green-3: #399C30;
$color-green-4: #41AE38;
$color-green-5: #20C9AC;
$color-light-blue: #DFEEFF;
$color-blue: #3B7FB1;
$color-blue-2: #7591DB;
$color-blue-3: #00ABE0;
$color-blue-4: #4575D2;
$color-blue-5: #475993;
$color-facebook-blue: #3520B6;
$color-instagram-pink: #D53056;
$color-orange: #FF9900;
$color-orange-2: #FFA043;
$color-orange-3: #ED9B15;
$color-pink: #FFEBEC;
$color-pink-2: #FCD7D9;
$color-purple: #5542F6;
$color-purple-2: #C2216E;
//HEIGHTS
$input-height-md: 45px;
$input-height-xl: 55px;
$input-icon-width: 50px;
$navigation-bar-height: 64px;
//WIDTHS
$side-bar-closed-width: 50px;
$side-bar-opened-width: 310px;