.modal.modal-style-1 {
    .modal-dialog {
        min-width: 800px;
        .modal-content {
            .modal-header {
                display: flex;
                align-items: center;
                border: none;
                padding: 25px;
                .modal-title {
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-black-default;
                }
                .close-modal-btn {
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .modal-body {
                padding: 25px;
                .budget-amount-section {
                    border-bottom: 1px solid $color-grey-52;
                    padding-bottom: 30px;
                    margin-bottom: 25px;
                    .budget-amount-container {
                        display: flex;
                        align-items: center;
                        .text {
                            font-size: 14px;
                            font-weight: 400;
                            color: $color-grey-49;
                            margin-#{$end-direction}: 30px;
                            white-space: nowrap;
                        }
                        &.past {
                            .budget-amount {
                                color: $color-grey-50;
                                font-size: 14px;
                                font-weight: 400;
                            }
                        }
                        &.added {
                            input {
                                border: 1px solid $color-grey-51;
                                border-radius: 4px;
                                color: $color-grey-50;
                                font-size: 14px;
                                &:placeholder {
                                    color: $color-grey-50;
                                }
                                &:focus {
                                    box-shadow: none;
                                    outline: none;
                                }
                            }
                        }
                        &.total {
                            .total-budget {
                                border: 1px solid $color-grey-51;
                                border-radius: 4px;
                                color: $color-grey-50;
                                font-size: 14px;
                                padding: 0.375rem 0.75rem;
                            }
                        }
                    }
                }
                .transfer-method-section {
                    .section-title {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 25px;
                        color: $color-black-6;
                    }
                }
            }
            .modal-footer {
                padding: 25px;
                border: none;
            }
        }
    }
}

@include media-breakpoint-md {
    .modal.modal-style-1 {
        .modal-dialog {
            min-width: unset;
            .modal-content {
                .modal-header {
                    padding: 16px;
                    .modal-title {
                        font-size: 14px;
                    }
                    .close-modal-btn {
                        width: 18px;
                        height: 18px;
                    }
                }
                .modal-body {
                    padding: 16px;
                    .budget-amount-section {
                        padding-bottom: 16px;
                        margin-bottom: 16px;
                        .budget-amount-container {
                            .text {
                                margin-#{$end-direction}: 14px;
                            }
                        }
                    }
                    .transfer-method-section {
                        .section-title {
                            font-size: 14px;
                            margin-bottom: 16px;
                        }
                        .radio {
                            margin-bottom: 10px;
                        }
                    }
                }
                .modal-footer {
                    padding: 16px;
                }
            }
        }
    }
}