.input-style-1 {
    position: relative;
    label {
        font-size: 14px;
        color: $color-black-4;
        font-weight: 400;
        margin-bottom: 8px;
        span {
            color: $color-red;
            margin-#{$start-direction}: 4px;
        }
    }
    input,
    select {
        display: flex;
        align-items: center;
        height: $input-height-md;
        padding-#{$start-direction}: 12px;
        border: 1px solid $color-grey-10;
        border-radius: 6px;
        color: $color-grey-7;
        font-size: 14px;
        font-weight: 700;
        &:focus {
            box-shadow: none !important;
            border: 1px solid $color-grey-10;
        }
        &::placeholder {
            font-size: 14px;
            color: $color-grey-31;
            font-weight: 400;
        }
        &:disabled {
            background: transparent;
        }
    }
    label.error {
        display: block;
        color: $color-red;
        font-size: 14px;
        font-weight: 400;
    }
    .input-icon {
        position: absolute;
        top: 0;
        #{$end-direction}: 0;
        height: $input-height-md;
        border: 1px solid $color-grey-9;
        border-top-#{$end-direction}-radius: 6px;
        border-bottom-#{$end-direction}-radius: 6px;
        width: $input-icon-width;
        background: $color-grey-8;
        svg {
            width: 14px;
            height: 14px;
        }
    }
    .success-message-container {
        position: absolute;
        #{$end-direction}: 0;
        top: 5px;
        svg {
            width: 21px;
            height: 21px;
            color: $color-green;
            margin-#{$end-direction}: 8px;
        }
        .success-message {
            color: $color-green;
            font-weight: 400;
        }
    }
    &.phone-dropdown {
        .phone-inputs-container {
            display: flex;
            align-items: center;
            select {
                flex: 0 0 15%;
                border-#{$end-direction}: none;
                border-top-#{$end-direction}-radius: 0;
                border-bottom-#{$end-direction}-radius: 0;
                background: $color-grey-8;
                border: 1px solid $color-grey-9;
            }
            input {
                border-top-#{$start-direction}-radius: 0;
                border-bottom-#{$start-direction}-radius: 0;
                page-break-after: right;
            }
        }
    }
    &.select-dropdown {
        .dropdown-container {
            position: relative;
            select {
                appearance: none;
                color: $color-grey-31;
                line-height: 1;
                font-weight: 400;
            }
        }
    }
    &.files {
        .images-count-text {
            position: absolute;
            #{$end-direction}: 0;
            top: 3px;
            color: $color-blue;
            font-weight: 700;
        }
        .input-icon {
            top: 24px;
        }
        .files-input-label {
            font-size: 14px;
            color: $color-black-4;
            font-weight: 400;
            margin-bottom: 3px;
        }
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-#{$start-direction}: 12px;
            border: 1px solid $color-grey-9;
            background: $color-white;
            width: 100%;
            height: $input-height-md;
            border-radius: 10px;
            color: $color-grey-5;
            span {
                max-width: calc(100% - 60px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                #files_count {
                    color: $color-grey-1;
                    padding-#{$start-direction}: 3px;
                    font-weight: 700;
                }
            }
            input {
                display: none;
            }
        }
    }
}

.input-style-1-group {
    margin-bottom: 35px;
    .inputs-label-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .label {
            color: $color-grey-1;
            font-weight: 700;
            font-size: 14px;
        }
    }
    .inputs-container {
        border: 1px solid $color-grey-10;
        border-radius: 6px;
        background: $color-white;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        input {
            border-color: $color-grey-30;
        }
        label,
        .files-input-label {
            font-weight: 400;
            color: $color-black-4;
        }
        label.error {
            color: $color-red;
        }
        .remove-item-btn {
            position: absolute;
            top: 0;
            #{$end-direction}: 0px;
        }
    }
}

@include media-breakpoint-md {
    .input-style-1 {
        &.phone-dropdown {
            .phone-inputs-container {
                select {
                    flex: 0 0 25%;
                }
            }
        }
    }
    .input-style-1-group {
        margin-bottom: 20px;
        .inputs-label-container {
            margin-bottom: 15px;
        }
        .inputs-container {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}