.radio-style-1 {
    @mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
        transition-property: $property;
        transition-duration: $duration;
        transition-timing-function: $timing;
        transition-delay: $delay;
    }
    .radio-effect:not(:checked),
    .radio-effect:checked {
        position: absolute;
        #{$start-direction}: -9999px;
    }
    label {
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: $color-black-1;
    }
    .radio-effect-style:not(:checked)+label:before,
    .radio-effect-style:checked+label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        border: 1px solid $color-grey-9;
        box-sizing: border-box;
        border-radius: 3px;
        margin-#{$end-direction}: 10px;
        @include transition(all .2s ease-in-out);
    }
    .radio-effect-style:not(:checked)+label:after,
    .radio-effect-style:checked+label:after {
        content: "\f00c";
        font: {
            family: fontawesome;
            size: 21px;
        }
        display: flex;
        height: 100%;
        align-items:center;
        position: absolute;
        #{$start-direction}: 1px;
        top: -2px;
        color: $color-green;
        text-shadow: 0px -1px 0px #fff;
        transform-origin: center center;
    }
    .radio-effect-style:checked+label:before {
        border: 3px solid $color-green;
    }
    .radio-effect-style:not(:checked)+label:after {
        transform: scale(1, 0);
    }
    .radio-effect-style:checked+label:after {
        transform: scale(1, 1);
        @include transition-mix;
    }
}

@include media-breakpoint-xl {
    .radio-style-1 {
        .radio-effect-style:not(:checked)+label:before,
        .radio-effect-style:checked+label:before {
            width: 22px;
            height: 22px;
        }
        .radio-effect-style:not(:checked)+label:after,
        .radio-effect-style:checked+label:after {
            font: {
                size: 27px;
            }
        }
    }
}