.btn-style-2 {
    padding: 0;
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    span {
        font-size: 14px;
        color: $color-grey-1;
        font-weight: 400;
        margin-#{$end-direction}: 16px;
    }
    svg {
        width: 14px;
        height: 14px;
        color: $color-grey-11;
    }
    &.has-bg {
        background: $color-grey-38;
        padding: 4px;
        border-radius: 6px;
        svg {
            color: $color-white;
        }
    }
}