.progress-style-2 {
    height: 24px;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid $color-grey-26;
    .progress-bar {
        background-color: $color-green-2;
    }
}

@include media-breakpoint-md {
    .progress-style-2 {
        height: 14px;
        border-radius: 10px;
        border: 1px solid $color-grey-26;
    }
}