.chart.chart-5 {
    padding: 24px;
    background: $color-white;
    border-radius: 10px;
    .chart-header {
        margin-bottom: 20px;
        .chart-title {
            font-size: 18px;
            font-weight: 400;
            color: $color-black-5;
        }
    }
}